@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Black.eot"), url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Book.eot"), url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face{
	font-family:"GT Sectra Fine";
	src: url("../fonts/GT-Sectra-Fine-Medium-54a35f8709b8e8d0fae2cfce966331ed.woff2") format("woff2"), url("../fonts/GT-Sectra-Fine-Medium-362387bfda03eb21988608e10448a7a2.woff") format("woff");
	font-weight: 400;
}